# Database
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_KEY=your_supabase_key

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx

# Resend
RESEND_API_KEY=re_xxx
ADMIN_EMAIL=votre-email@example.com
RESEND_FROM_EMAIL=FICCON <onboarding@resend.dev>

# Frontend URL
FRONTEND_URL=https://votresite.ionos.space

# Server
PORT=8080
NODE_ENV=production